<td><%= title %></td>
<td><%= created_at %></td>
<td><%= last_accessed_at %></td>
<td><%= tags %></td>
<td><%= priority %></td>
<td><%= file %></td>
<td><%= user_id %></td>

<td><a href="#/<%= _id %>">Show</td>
<td><a href="#/<%= _id %>/edit">Edit</td>
<td><a href="#/<%= _id %>/destroy" class="destroy">Destroy</a></td>