<p>
  <b>Title:</b>
  <%= title %>
</p>

<p>
  <b>Created at:</b>
  <%= created_at %>
</p>

<p>
  <b>Last accessed at:</b>
  <%= last_accessed_at %>
</p>

<p>
  <b>Tags:</b>
  <%= tags %>
</p>

<p>
  <b>Priority:</b>
  <%= priority %>
</p>

<p>
  <b>File:</b>
  <%= file %>
</p>

<p>
  <b>User:</b>
  <%= user_id %>
</p>


<a href="#/index">Back</a>