<%- model_class = Resource -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:_type) %>:</strong></dt>
  <dd><%= @resource._type || "-" %></dd>
  <dt><strong><%= model_class.human_attribute_name(:_id) %>:</strong></dt>
  <dd><%= @resource._id  || "-" %></dd>
  <dt><strong><%= model_class.human_attribute_name(:file) %>:</strong></dt>
  <dd><%= link_to @resource.file.url || "-", @resource.file.url %></dd>  
  <dt><strong><%= model_class.human_attribute_name(:link) %>:</strong></dt>
  <dd><%= link_to @resource.link || "-", @resource.link %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @resource.title || "-" %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_accessed_at) %>:</strong></dt>
  <dd><%= @resource.last_accessed_at || "-" %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tags) %>:</strong></dt>
  <dd><%= @resource.tags || "-" %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @resource.user_id || "-" %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              resources_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_resource_path(@resource), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              resource_path(@resource),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

<hr>

<div>
  <h4>PDF Viewer</h4>
  <button id="prev" onclick="goPrevious()">&lt;&lt;</button>
  <span id="page_num">Page: 0/0</span>
  <button id="next" onclick="goNext()">&gt;&gt;</button>
  <canvas id="pdf-reader" style="border:1px solid black"></canvas>
</div>

<!-- shows a cool PDF viewer
<hr>
<iframe style="width:100%;height:100%;display:block;" src="/generic/web/viewer.html"></iframe>
 -->